{% extends "todo/todo.html" %}

{% block content %}




        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-2 col-sm-4 sidebar1">

                <div class="left-navigation">

                    <ul class="list">
                        <h5><strong>Todo list</strong></h5>
                        <li>Hiking</li>
                        <li>Rafting</li>
                        <li>Badminton</li>
                        <li>Tennis</li>
                        <li>Sketching</li>
                        <li>Horse Riding</li>
                    </ul>
                    <form class="add-project" id="form_project" method="post" action="{% url 'todo:project' %}">
                        {% csrf_token %}
                        <div class="add-form-field">

                            <div class="input_fields_wrap_project">
                                <button class="add_field_project_button"><i class="fa fa-plus" aria-hidden="true"></i> Add Task</button>

                                <div class="content-project">
                                    <div class="color-field">
                                        <input type="color" id="favcolor" name="color" value="" />
                                        <input class="field-show" type="text" name="project[]"/>
                                    </div>


                                      <div class="form-group block-footer">
                                        <a href="#" class="button-add btn btn-primary">Add</a>
                                          <button type="button" class="btn btn-secondary close-block" >Close</button>
                                      </div>

                                </div>



                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-md-10 col-sm-8 main-content">
                {% if request.user.is_authenticated %}
                      Hello {{ request.user.username }},
                {% endif %}


ert


                <div class="row">
                    {% for item in posts %}

                        <div class="col-lg-4">
                            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                            <h2>{{item.title}}</h2>
                            <p>{{item.body}}</p>
                            <p class="date">Published {{ item.publish }} by {{ item.author }}</p>
                            {{ item.body|linebreaks }}
                            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                        </div><!-- /.col-lg-4 -->
                    {% endfor %}
                    <div class="col-md-12">
                        <form class="todo-add" method="post" action="">
                            <div class="add-form-field">
                                <div class="input_fields_wrap">
                                    <button class="add_field_button"><i class="fa fa-plus" aria-hidden="true"></i> Add Task</button>
                                    <div><input type="text" class="field-hide" name="mytext[]"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

{% endblock %}