<div class="cm-all-dynamic-data">
    <div class="cm-dynamic-data">


        <ul id="name-list">

        </ul>
        <!-- <ol id="name-list"></ol> -->

        <div id="templates">
            <li class="list-todo">
                <div class="child-wrap">
                    <div class="input-menu-items">
                        <span class="todo-title cm-text-data"></span>
                        <span class="project-title cm-text-function"></span>
                        <span class="project-color cm-text-function"></span>
                    </div>
                    <div class="todo-option">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <div class="block-setting">
                            <form class="delete-form-content"  method="post">
                                <input type="hidden" name="todo_id" value="">
                                <input type="submit" value="Delete"/>
                            </form>
                            <a data-toggle="modal" >Edit</a>
                        </div>
                    </div>
                </div>

            </li>
        </div>


        <ul id="sortable">
            {% for project in projects %}

            {% for todo in project.todos.all %}

            <li class="list-todo">
                <div class="child-wrap">
                    <div class="input-menu-items">
                        <span class="cm-text-data">{{ todo }}</span>
                        <span class="cm-text-function">{{project}}</span>
                        <span class="cm-text-function">{{project.color}}</span>
                    </div>
                    <div class="todo-option">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <div class="block-setting">
                            <form class="delete-form-content" action="{% url 'todo:todo_delete' todo.id %}"
                                  method="post">
                                <input type="hidden" name="todo_id" value="{{todo.id}}">
                                <input type="submit" value="Delete"/>
                            </form>
                            <a data-toggle="modal" data-target="#todo_{{todo.id}}">Edit</a>
                        </div>
                    </div>
                </div>

                            <!-- Modal -->
                <div class="modal fade" id="todo_{{todo.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <form action="{% url 'todo:todo_update' todo.id %}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="todo_{{todo.id}}_Title">Modal title {{todo.id}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" name="title" value="{{todo.title}}">
                                </div>
                                <div class="form-group">
                                    <label>Color</label>
                                    <input type="text" class="form-control" name="color" value="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>

            </li>



            {% endfor %}

            {% endfor %}

            <!--Form add todo-->
            <li class="todo-list">
                <div class="child-wrap">
                    <form class="add-form-content" method="post" action="{% url 'todo:home' %}">
                        {% csrf_token %}

                        <div class="input-menu-items">
                            {{ form.as_table }}

                            <input type="submit" value="Save"/>
                        </div>
                    </form>
                </div>
            </li>

        </ul>

    </div>

    <button class="add-form btn">Add</button>
    <button class="form-close btn">Close</button>
</div>